<section class="content-header">

  <h1>

    Administrar categorías

  </h1>

  <ol class="breadcrumb">

    <li><a [routerLink]="['/dashboard/inicio' ]"><i class="fa fa-dashboard"></i> Inicio</a></li>

    <li class="active">Administrar categorías</li>

  </ol>

</section>

<section class="content">

  <div class="box">

    <div class="box-header with-border">

      <button class="btn btn-primary" data-toggle="modal" data-target="#modalAgregarCategoria"  (click)="typeAction(false)" >

        Agregar categoría

      </button>

    </div>

    <div class="box-body">
      <h5 style="margin-top: 30px;" *ngIf="categoria.length == 0">No hay datos para mostrar</h5>
      <table class="table table-bordered table-striped dt-responsive tablas" *ngIf="categoria.length > 0">

        <thead>

          <tr>

            <th style="width:10px">#</th>
            <th>Categoria</th>
            <th>Acciones</th>

          </tr>

        </thead>

        <tbody>

          <tr *ngFor="let catego of categoria">

            <td>1</td>

            <td>{{catego.categoria}}</td>

            <td>

              <div class="btn-group">

                <button class="btn btn-warning" data-toggle="modal" data-target="#modalAgregarCategoria" (click)="editarCategoria(catego.id)" ><i class="fa fa-pencil"></i></button>

                <button class="btn btn-danger" (click)="deleteCategoria(catego.id)"><i class="fa fa-times"></i></button>

              </div>

            </td>

          </tr>





        </tbody>

      </table>

    </div>

  </div>

</section>


<!--=====================================
  MODAL AGREGAR USUARIO
  ======================================-->

<div id="modalAgregarCategoria" class="modal fade" role="dialog">

  <div class="modal-dialog">

    <div class="modal-content">

      <form [formGroup]="validacionCategoria" #cuentaForm="ngForm">

        <!--=====================================
          CABEZA DEL MODAL
          ======================================-->

        <div class="modal-header" style="background:#3c8dbc; color:white">

          <button type="button" class="close" data-dismiss="modal">&times;</button>

          <h4 class="modal-title">Agregar categoría</h4>

        </div>

        <!--=====================================
          CUERPO DEL MODAL
          ======================================-->

        <div class="modal-body">

          <div class="box-body">

            <!-- ENTRADA PARA EL NOMBRE -->

            <div class="form-group">

              <div class="input-group">

                <span class="input-group-addon"><i class="fa fa-th"></i></span>

                <input type="text" class="form-control input-lg" placeholder="Ingresar categoría"
                  formControlName="categoria">

              </div>

            </div>
            <div
              *ngIf="validacionCategoria.controls['categoria'].invalid && (validacionCategoria.controls['categoria'].dirty || validacionCategoria.controls['categoria'].touched)"
              class="form-text text-danger">
              <div *ngFor="let validation of user_validation_messages.categoria">
                <div style="font-size: smaller !important;"
                  *ngIf="validacionCategoria.get('categoria')?.hasError (validation.type) && (validacionCategoria.get('categoria')?.dirty || validacionCategoria.get('categoria')?.touched)">
                  {{validation.message}}
                </div>
              </div>
            </div>
            <small *ngIf="categoriaNoValido" class="form-text text-danger animate__animated animate__heartBeat"></small>



          </div>
          <div class="box-body">
            <!-- ENTRADA PARA EL SUB CATEOGIRIA-->
            <div class="col-xs-8">
              <div class="form-group">

                <div class="input-group">

                  <span class="input-group-addon"><i class="fa fa-th"></i></span>

                  <input type="text" class="form-control input-lg" placeholder="Ingresar sub-categoría"
                    formControlName="subcategoria">

                </div>

              </div>

            </div>


            <!-- ENTRADA PARA SELECCIONAR SUB CATEGORÍA -->

            <div class="col-xs-2">

              <div class="input-group">

                <button type="submit" class="btn btn-primary">Guardar</button>

              </div>

            </div>
          </div>
        </div>

        <!--=====================================
          PIE DEL MODAL
          ======================================-->

        <div class="modal-footer">

          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Salir</button>

          <button type="submit" class="btn btn-primary" [disabled]="!cuentaForm.form.valid" (click)="addCategoria()"
            data-dismiss="modal">{{categoriaExistente?'Actualizar Datos': 'Guardar categoría'}}</button>

        </div>

      </form>

    </div>

  </div>

</div>