<!--=====================================
	inicio
	======================================-->





  <section class="content-header">

    <h1>
  
      Tablero
  
      <small>Panel de Control</small>
  
    </h1>
  
    <ol class="breadcrumb">
  
      <li><a [routerLink]="['/dashboard/inicio' ]"><i class="fa fa-dashboard"></i> Inicio</a></li>
  
      <li class="active">Tablero</li>
  
    </ol>
  
  </section>
  
  <section class="content">
  
    <div class="row">
  
  
  
  
      <div class="col-lg-3 col-xs-6">
  
        <div class="small-box bg-aqua">
  
          <div class="inner">
  
            <h3>{{cantidadVentas | currency}}</h3>
  
            <p>Ventas</p>
  
          </div>
  
          <div class="icon">
  
            <i class="ion ion-social-usd"></i>
  
          </div>
  
          <a [routerLink]="['/dashboard/admin_ventas' ]" class="small-box-footer">
  
            Más info <i class="fa fa-arrow-circle-right"></i>
  
          </a>
  
        </div>
  
      </div>
  
      <div class="col-lg-3 col-xs-6">
  
        <div class="small-box bg-green">
  
          <div class="inner">
  
            <h3>{{cantidadCateogirias}}</h3>
  
            <p>Categorías</p>
  
          </div>
  
          <div class="icon">
  
            <i class="ion ion-clipboard"></i>
  
          </div>
  
          <a [routerLink]="['/dashboard/categoria' ]" class="small-box-footer">
  
            Más info <i class="fa fa-arrow-circle-right"></i>
  
          </a>
  
        </div>
  
      </div>
  
      <div class="col-lg-3 col-xs-6">
  
        <div class="small-box bg-yellow">
  
          <div class="inner">
  
            <h3>{{cantidadClientes}} </h3>
  
            <p>Clientes</p>
  
          </div>
  
          <div class="icon">
  
            <i class="ion ion-person-add"></i>
  
          </div>
  
          <a [routerLink]="['/dashboard/clientes' ]" class="small-box-footer">
  
            Más info <i class="fa fa-arrow-circle-right"></i>
  
          </a>
  
        </div>
  
      </div>
  
      <div class="col-lg-3 col-xs-6">
  
        <div class="small-box bg-red">
  
          <div class="inner">
  
            <h3>{{cantidadProductos}}</h3>
  
            <p>Productos</p>
  
          </div>
  
          <div class="icon">
  
            <i class="ion ion-ios-cart"></i>
  
          </div>
  
          <a [routerLink]="['/dashboard/productos' ]" class="small-box-footer">
  
            Más info <i class="fa fa-arrow-circle-right"></i>
  
          </a>
  
        </div>
  
      </div>
    </div>
  
    <div class="row">
  
      <div class="col-lg-12">
  
  
        <!--=====================================
      GRÁFICO DE VENTAS
      ======================================-->
  
  
        <div class="box box-solid bg-teal-gradient">
  
          <div class="box-header">
  
            <i class="fa fa-th"></i>
  
            <h3 class="box-title">Gráfico de Ventas</h3>
  
          </div>
  
          <div class="box-body border-radius-none nuevoGraficoVentas">
  
            <div id="chart" style="height: 250px;">
  
              <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
                [dataLabels]="chartOptions.dataLabels" [grid]="chartOptions.grid"
                [stroke]="chartOptions.stroke"></apx-chart>
  
            </div>
  
          </div>
  
        </div>
  
  
      </div>
  
      <div class="col-lg-6">
  
  
        <!--=====================================
      PRODUCTOS MÁS VENDIDOS
      ======================================-->
  
        <div class="box box-default">
  
          <div class="box-header with-border">
  
            <h3 class="box-title">Productos más vendidos</h3>
  
          </div>
  
          <div class="box-body">
  
            <div class="row">
  
              <!-- <div class="col-md-7">
  
                <div class="chart-responsive">
  
                  <canvas id="pieChart" height="150">
  
  
                  </canvas>
  
                </div>
  
              </div> -->
  
              <!-- <div class="col-md-5">
  
                <ul class="chart-legend clearfix" *ngFor="let producto of  productosMasVendidos">
  
                  <li><i class="fa fa-circle-o text-red"></i> {{producto.descripcion}}</li>
  
  
                </ul>
  
              </div> -->
  
            </div>
  
          </div>
  
          <div class="box-footer no-padding">
  
            <ul class="nav nav-pills nav-stacked" *ngFor="let productoVendidos of  productosMasVendidos">
  
              <li>
  
  
  
                <a>
  
  
                  <img [src]="productoVendidos.imagen" class="img-thumbnail" width="60px" style="margin-right:10px">
                  {{productoVendidos.descripcion}}
  
                  <span class="pull-right text-red">
                    stock:{{productoVendidos.stock}}
                  </span>
  
                </a>
  
              </li>
  
  
  
            </ul>
  
          </div>
  
        </div>
  
  
      </div>
  
      <div class="col-lg-6">
  
  
  
        <div class="box box-primary">
  
          <div class="box-header with-border">
  
            <h3 class="box-title">Productos Agregados Recientemente</h3>
  
            <div class="box-tools pull-right">
  
              <button type="button" class="btn btn-box-tool" data-widget="collapse">
  
                <i class="fa fa-minus"></i>
  
              </button>
  
              <button type="button" class="btn btn-box-tool" data-widget="remove">
  
                <i class="fa fa-times"></i>
  
              </button>
  
            </div>
  
          </div>
  
          <div class="box-body">
  
            <ul class="products-list product-list-in-box">
  
              <li class="item" *ngFor="let producto of aggRecienteProductos">
  
                <div class="product-img">
  
                  <img [src]="
                  producto.imagen
                    ? producto.imagen
                    : './../../../assets/img/productos/default/anonymous.png'
                " alt="">
  
                </div>
  
                <div class="product-info">
  
                  <a href="" class="product-title">
  
                    {{producto.descripcion}}
  
                    <span class="label label-warning pull-right"> {{producto.precioVenta | currency}}</span>
  
                  </a>
  
                </div>
  
              </li>
  
  
            </ul>
  
          </div>
  
          <div class="box-footer text-center">
  
            <a [routerLink]="['/dashboard/productos' ]" class="uppercase">Ver todos los productos</a>
  
          </div>
  
        </div>
  
      </div>
  
      <div class="col-lg-12">
  
  
      </div>
  
    </div>
  
  </section>