<section class="content-header">

  <h1>

    Administrar usuarios

  </h1>

  <ol class="breadcrumb">

    <li><a><i class="fa fa-dashboard"></i> Inicio</a></li>

    <li class="active">Administrar usuarios</li>

  </ol>

</section>

<section class="content">

  <div class="box">

    <div class="box-header with-border">

      <button class="btn btn-primary" data-toggle="modal" data-target="#modalAgregarUsuario"  (click)="resetForm()" >

        Agregar usuario

      </button>

    </div>

    <div class="box-body">

      <table class="table table-bordered table-striped dt-responsive tablas">

        <thead>

          <tr>

            <th style="width:10px">#</th>
            <th>Foto</th>
            <th>Nombre</th>
            <th>Correo Electronico</th>

            <th>Perfil</th>
            <th>Estado</th>
            <th>Último login</th>
            <th>Acciones</th>

          </tr>

        </thead>

        <tbody>

          <tr *ngFor="let user of usuarios; index as i">
            <td>{{i+1}}</td>
            <!-- ./../../../assets/img/usuarios/default/anonymous.png -->
            <td><img   [src]="user.foto?user.foto:'./../../../assets/img/usuarios/default/anonymous.png'" class="img-thumbnail" width="40px"></td>
            <td>{{user.nombre}} </td>
            <td>{{user.usuario}}</td>

            <td>{{user.perfil}}</td>
            <td><button class="btn btn-success btn-xs">Activado</button></td>
            <td>{{user?.ultimoLogin| formatDate}}</td>
            <td>

              <div class="btn-group">

                <button class="btn btn-warning" data-toggle="modal" data-target="#modalAgregarUsuario"
                  (click)="editarUser(user.id)"><i class="fa fa-pencil"></i></button>

                <button class="btn btn-danger" (click)="deleteUser(user.id)"><i class="fa fa-times"></i></button>

              </div>

            </td>

          </tr>





        </tbody>

      </table>

    </div>

  </div>

</section>



<!--=====================================
  MODAL AGREGAR USUARIO
  ======================================-->

<div id="modalAgregarUsuario" class="modal fade" role="dialog">

  <div class="modal-dialog">

    <div class="modal-content">

      <form novalidate [formGroup]="validacionUsuario" #cuentaForm="ngForm">

        <!--=====================================
          CABEZA DEL MODAL
          ======================================-->

        <div class="modal-header" style="background:#3c8dbc; color:white">

          <button type="button" class="close" data-dismiss="modal">&times;</button>

          <h4 class="modal-title">Agregar usuario</h4>

        </div>

        <!--=====================================
          CUERPO DEL MODAL
          ======================================-->

        <div class="modal-body">

          <div class="box-body">

            <!-- ENTRADA PARA EL NOMBRE -->

            <div class="form-group">

              <div class="input-group">

                <span class="input-group-addon"><i class="fa fa-user"></i></span>

                <input type="text" class="form-control input-lg" placeholder="Ingresar nombre" formControlName="nombre">

              </div>
              <div
                *ngIf="validacionUsuario.controls['nombre'].invalid && (validacionUsuario.controls['nombre'].dirty || validacionUsuario.controls['nombre'].touched)"
                class="form-text text-danger">
                <div *ngFor="let validation of user_validation_messages.nombre">
                  <div style="font-size: smaller !important;"
                    *ngIf="validacionUsuario.get('nombre')?.hasError (validation.type) && (validacionUsuario.get('nombre')?.dirty || validacionUsuario.get('nombre')?.touched)">
                    {{validation.message}}
                  </div>
                </div>
              </div>
              <small *ngIf="nombreNoValido" class="form-text text-danger animate__animated animate__heartBeat"></small>

            </div>

            <!-- ENTRADA PARA EL USUARIO -->

            <div class="form-group">

              <div class="input-group">

                <span class="input-group-addon"><i class="fa fa-key"></i></span>

                <input type="email" class="form-control input-lg" placeholder="Ingresar correo electronico"
                  formControlName="usuario">

              </div>
              <div
                *ngIf="validacionUsuario.controls['usuario'].invalid && (validacionUsuario.controls['usuario'].dirty || validacionUsuario.controls['usuario'].touched)"
                class="form-text text-danger">
                <div *ngFor="let validation of user_validation_messages.usuario">
                  <div style="font-size: smaller !important;"
                    *ngIf="validacionUsuario.get('usuario')?.hasError (validation.type) && (validacionUsuario.get('usuario')?.dirty || validacionUsuario.get('usuario')?.touched)">
                    {{validation.message}}
                  </div>
                </div>
              </div>
              <small *ngIf="usuarioNoValido" class="form-text text-danger animate__animated animate__heartBeat"></small>

            </div>

            <!-- ENTRADA PARA LA CONTRASEÑA -->

            <div class="form-group"   *ngIf="!userExistente"  >

              <div class="input-group">

                <span class="input-group-addon"><i class="fa fa-lock"></i></span>

                <input type="password" class="form-control input-lg" placeholder="Ingresar contraseña"
                  formControlName="password">

              </div>
              <div
                *ngIf="validacionUsuario.controls['password'].invalid && (validacionUsuario.controls['password'].dirty || validacionUsuario.controls['password'].touched)"
                class="form-text text-danger">
                <div *ngFor="let validation of user_validation_messages.Password">
                  <div style="font-size: smaller !important;"
                    *ngIf="validacionUsuario.get('password')?.hasError (validation.type) && (validacionUsuario.get('password')?.dirty || validacionUsuario.get('password')?.touched)">
                    {{validation.message}}
                  </div>
                </div>
              </div>
              <small *ngIf="PasswordNoValido"
                class="form-text text-danger animate__animated animate__heartBeat"></small>

            </div>

            <!-- ENTRADA PARA SELECCIONAR SU PERFIL -->

            <!-- <div class="form-group">

              <div class="input-group">

                <span class="input-group-addon"><i class="fa fa-users"></i></span>

                <select class="form-control input-lg" formControlName="perfil">

                  <option value="">Selecionar perfil</option>

                  <option value="Administrador">Administrador</option>

                  <option value="Especial">Especial</option>

                  <option value="Vendedor">Vendedor</option>

                </select>
              </div>
              <div
                *ngIf="validacionUsuario.controls['perfil'].invalid && (validacionUsuario.controls['perfil'].dirty || validacionUsuario.controls['perfil'].touched)"
                class="form-text text-danger">
                <div *ngFor="let validation of user_validation_messages.perfil">
                  <div style="font-size: smaller !important;"
                    *ngIf="validacionUsuario.get('perfil')?.hasError (validation.type) && (validacionUsuario.get('perfil')?.dirty || validacionUsuario.get('perfil')?.touched)">
                    {{validation.message}}
                  </div>
                </div>
              </div>
              <small *ngIf="perfilNoValido" class="form-text text-danger animate__animated animate__heartBeat"></small>

            </div> -->

            <!-- ENTRADA PARA SUBIR FOTO -->

            <div class="form-group">

              <div class="panel">SUBIR FOTO</div>

              <input type="file" id="nuevaFoto" formControlName="foto"   (change)="onFileSelected($event)"  >

              <p class="help-block">Peso máximo de la foto 200 MB</p>



            </div>

          </div>

        </div>

        <!--=====================================
          PIE DEL MODAL
          ======================================-->

        <div class="modal-footer">

          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Salir</button>

          <button type="button"  (click)="onSubmitForm()"  class="btn btn-primary" [disabled]="!cuentaForm.form.valid"
            data-dismiss="modal">{{userExistente?'Actualizar Datos': 'Guardar usuario'}}</button>

        </div>

      </form>

    </div>

  </div>

</div>